name: Crystal CI

on:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
    - cron: "30 16 1 * *" # every first of the month at 16:30

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        # crystal: [latest, nightly]
        crystal: [latest] # nightly breaks to often
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal }}

      - name: Download source
        uses: actions/checkout@v3

      - name: Install shards
        run: shards install

      - name: Check formatting
        run: crystal tool format --check
        if: matrix.crystal != 'nightly' && matrix.os == 'ubuntu-latest'

      - name: Run specs
        run: crystal spec
